<template>
  <div id="newTestSuite">
    <div style="margin-top: 20px;" if.bind="!isEnabled">
      <button class="large padded-10 blue button" click.trigger="enable()">New test suite</button>
    </div>
    <div
      if.bind="isEnabled"
      class="field-container is-relative"
    >
      <input
        type="string"
        value.bind="name & validate"
        placeholder="Name you test suite."
      />
      
      <button
        class="blue-button"
        class.bind="!name || name.length === 0 || !validName ? 'u-faded-content' : ''"
        click.delegate="submit()"
      >
        <span class="icon">&#10004;</span>
      </button>
      <button
        class="pink-button"
        click.delegate="disable()"
      >
        <span class="icon">&#10008;</span>
      </button>
    </div>
  </div>
</template>
