#newTestSuite {
  .field-container {

    input {
      width: calc(100% - 16px);
    }

    button {
      text-align: center;
      display: flex;
      justify-content: space-around;

      .icon {
        margin: 0;
      }
    }
  }
}
