<template>
  <div class="page">
    <h2>Configured <span class="text-pink">API Requests</span></h2>
    
    <section class="flex content-wrapper">

      <section class="flex" style="width: 100%;">
        <section
          class="flex flex--wrap flex--basis flex--justify-left"
          class.bind="requests.length === 0 ? 'flex--justify-center' : 'flex--justify-left'"
          style="padding: 0 5px;align-content: flex-start;"
        >
          <div
            style="width: 100px;"
            if.bind="requests.length === 0 && dataStore.user"
          >&nbsp;</div>
          <div
            if.bind="requests.length === 0"
            class="no-data-message"
          >
            No api requests have been configured.
          </div>
          <button
            class="button cta"
            click.trigger="selectRequest(request)"
            repeat.for="request of requests"
            style="
              min-width: 400px;
              height: unset;
              padding: 40px 15px 15px;
              align-items: flex-start;
              justify-content: flex-start;
            "
          >
            <section class="name-field">${request.name}</section>
            
            <section
              style="
                text-align: left;
                max-width: 100%;
                overflow: hidden;
                font-size: 16px;
              "
            >
              <section>
                URL: <span class="text-blue">${request.url}</span>
              </section>

              <section>
                <label>
                  Headers:
                </label> 
                <ul class="text-blue" if.bind="request.headers.length > 0">
                  <li>{</li>
                  <li
                    repeat.for="entry of request.headers"
                    if.bind="request.headers.length > 0"
                    style="
                      text-overflow: ellipsis;
                      width: 100%;
                      overflow: hidden;
                      white-space: nowrap;
                    ">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>${entry[0]}: </label>
                    <span title.bind="entry[1]">${entry[1]}</span>
                  </li>
                  <li>}</li>
                </ul>
                <ul class="text-blue" if.bind="request.headers.length === 0">
                  <li>{}</li>
                </ul>
              </section>

              <section>
                <label>
                  Query Params:
                </label> 
                <ul class="text-blue" if.bind="request.queryParams.length > 0">
                  <li>{</li>
                  <li
                    repeat.for="entry of request.queryParams"
                    if.bind="request.queryParams.length > 0"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>${entry[0]}: </label>${entry[1]}
                  </li>
                  <li if.bind="request.queryParams.length === 0">&nbsp;</li>
                  <li>}</li>
                </ul>
                <ul class="text-blue" if.bind="request.queryParams.length === 0">
                  <li>{}</li>
                </ul>
              </section>

              <section>
                <label>
                  Body:
                </label> 
                <ul class="text-blue" if.bind="request.body.length > 0">
                  <li>{</li>
                  <li
                    repeat.for="entry of request.body"
                    if.bind="request.body.length > 0"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>${entry[0]}: </label>${entry[1]}
                  </li>
                  <li>}</li>
                </ul>
                <ul class="text-blue" if.bind="request.body.length === 0">
                  <li>{}</li>
                </ul>
              </section>
            </section>
          </button>
        </section>
      </section>

            
      <section
        style="padding: 0 10px;"
        if.bind="dataStore.user"
      >
        <button
          class="pink button cta"
          click.trigger="addApiRequest()"
          style="padding: 10px;width: 80px;height: 80px;"
          title="Add API Request"
        >
          <div
            innerhtml.bind="icons.plus"
            class="white svg config-icon"
            style="margin-right: 0;"
          ></div>
        </button>
      </section>
    </section>
  </div>
</template>
