<template>
  <section class="dialog image-dialog">
    <section class="header">
      
      ${number}&nbsp;-&nbsp;
      <section class="" if.bind="test.name === 'wait'">
        Wait for&nbsp;
        <span class="text-pink">${test.config.durationInSeconds}</span>
        &nbsp;seconds before continuing.
      </section>

      <section class="" if.bind="test.name === 'text'">
        Type&nbsp;
        <span class="text-pink">${test.config.value}</span>
        &nbsp;into the&nbsp;<span class="text-pink">${test.config.label}</span>&nbsp;text field.
      </section>

      <section class="" if.bind="test.name === 'Click Element'">
        Click the&nbsp;
        <span class="text-pink">${test.config.targetType}</span>&nbsp;labelled&nbsp;
        <span class="text-pink">${test.config.label}</span>.
      </section>

      <section class="flex" if.bind="step.name === 'Expect Content'">
        I expect to see the&nbsp;
        <span if.bind="step.config.role">
          <span class="text-pink">${step.config.role}</span>
          &nbsp;dashboard.
        </span>
        <span if.bind="step.config.selector">
          <span class="text-pink">${step.config.label}</span>
          &nbsp;view.
        </span>
      </section>


      <button
        class="pink"
        click.trigger="close(step)"
        innerhtml.bind="icons.close"
      ></button>
    </section>

    <section class="body">
      <image src.bind="'data:image/png;base64,' + test.image" />
    </section>

    <section class="footer">
      <button
        class="pink-button"
        click.trigger="confirm()"
        style="margin-right: 10px;"
      >
        Confirm
      </button>
    </section>
  </section>
</template>
