welcome {
  display: flex;
  height: 100%;

  .col-right{
    width: 295px;
    border-left: 1px solid #373737;

    .col-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }
    h1 {
      font-size: 20px;
      margin: 20px 0 20px 0;
      text-align: center;
      color: #ffffff;
    }

    .cta {
      width: calc(50% - 5px);
      height: 100px;
      margin-bottom: 5px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.welcome {
  display: flex;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  align-items: center;
  justify-content: center;

  .welcome-content {
    padding: 20px;

    h1 {
      font-size: 24px;
      color: #ffffff;
    }

    p {
      font-size: 16px;
      color: #d1d1d1;
      margin: 10px 0;
    }

    ul {
      list-style-type: none;
      margin-left: 20px;

      li {
        font-size: 16px;
        color: #d1d1d1;
      }
    }

    .config-icon {
      margin-top: 20px;

      svg {
        width: 200px;
        height: 200px;
      }
    }
  }
}
