<template>

  <section class="dialog">
    <section class="header">
      Add step: ${stepType}
      <button
        class="pink"
        click.trigger="close(step)"
        innerhtml.bind="icons.close"
      ></button>
    </section>

    <section class="body">

      <section
        class="flex"
        if.bind="
          stepType === STEP_CONSTANTS.SIGN_IN ||
          stepType === STEP_CONSTANTS.REGISTER
        "
      >

        <section
          style="
            width: 260px;
            border-right: 1px solid #373737;
            padding: 0px 20px 0 0;
          "
        >
          <section
            class="flex flex--justify-between"
            style="margin-bottom: 20px;"
          >
            <label>Environment:</label>
            <select
              class="input-field inline"
              value.bind="config.environment"
              style="margin-left: 10px;width: 150px;"
              change.trigger="selectEnvironment({ name: config.environment })"
            >
              <option repeat.for="env of environments">
                ${env.name}
              </option>
            </select>
          </section>

          <section
            class="flex flex--justify-between"
            class.bind="!config.environment ? 'u-faded-content' : ''"
            style="margin-bottom: 20px;"
            if.bind="stepType === STEP_CONSTANTS.SIGN_IN"
          >
            <label>Organisation:</label>
            <select
              class="input-field inline"
              value.bind="config.organisation"
              style="margin-left: 10px;width: 150px;"
              change.trigger="selectOrganisation(config.organisation)"
            >
              <option repeat.for="organisation of organisations">
                ${organisation.name}
              </option>
            </select>
          </section>

          <section
            class="flex flex--justify-between is-relative"
            style="margin-bottom: 20px;"
            if.bind="stepType === STEP_CONSTANTS.SIGN_IN"
          >
            <label>Members:</label>
            <section
              class="dropdown-wrapper"
              mouseenter.trigger="menuEnter()"
              mouseleave.trigger="menuLeave()"
            >
              <section
                class="flex flex--align-center hoverable"
                style="color: black; text-align: center;"
                if.bind="selectedUser"
                click.trigger="showMenu()"
              >
                <div
                  innerhtml.bind="icons.roles[config.user.role]"
                  class="pink svg config-icon"
                  style="margin-right: 5px;"
                ></div>
                <section>
                  <section>${config.user.name}</section>
                  <section class="text-blue">${config.user.role}</section>
                </section>
                <section class="down-arrow"></section>
              </section>
              <section 
                class="no-data-message hoverable"
                if.bind="!selectedUser"
                click.trigger="showMenu()"
              >
                No user selected.
                <section class="down-arrow"></section>
              </section>
              <nav
                class="sub-menu"
                if.bind="users.length > 0 && userSelectionEnabled"
              >
                <section 
                  class="no-data-message"
                  style="width: 145px; height: 36px;"
                  if.bind="!users || users.length === 0"
                >
                  No user to select.
                </section>
              </nav>
              <nav
                class="sub-menu"
                if.bind="users.length > 0 && userSelectionEnabled"
              >
                <ul>
                  <li
                    class="flex flex--align-center"
                    repeat.for="user of users"
                    click.trigger="selectUser(user)"
                  >
                    <div
                      innerhtml.bind="icons.roles[user.role]"
                      class="pink svg config-icon"
                      style="margin-right: 10px;"
                    ></div>
                    <section>
                      <section>${user.name}</section>
                      <section class="text-blue">${user.role}</section>
                    </section>
                  </li>
                </ul>
              </nav>

            </section>
          </section>
        </section>

        <section style="padding-left: 20px;">
          <h4>Adding this pre-defined step config, will add the following steps:</h4>
          <ul>
            <li
              class="step"
              repeat.for="step of PREDEFINED_STEP_CONFIG[STEP_CONSTANTS.SIGN_IN]"
              if.bind="stepType === STEP_CONSTANTS.SIGN_IN"
            >
              <section class="flex" if.bind="step.name === 'wait'">
                Wait for&nbsp;
                <section class="is-relative">
                  <input
                    type="number"
                    step="10"
                    min="1"
                    max="120"
                    class="input-field inline"
                    placeholder="Wait time"
                    value.bind="step.config.durationInSeconds"
                    style="margin-bottom: 0;width: 50px;"
                  />
                </section>
                &nbsp;seconds before continuing.
              </section>

              <section class="flex" if.bind="step.name === 'text'">
                Type&nbsp;
                <span class="text-pink">${step.config.value}</span>
                &nbsp;into the&nbsp;<span class="text-pink">${step.config.label}</span>&nbsp;text field.
              </section>

              <section class="flex" if.bind="step.name === 'Click Element'">
                Click the&nbsp;
                <span class="text-pink">${step.config.targetType}</span>&nbsp;labelled&nbsp;
                <span class="text-pink">${step.config.label}</span>.
              </section>

              <section class="flex" if.bind="step.name === 'Expect Content'">
                I expect to see the&nbsp;
                <span if.bind="step.config.role">
                  <span class="text-pink">${step.config.role}</span>
                  &nbsp;dashboard.
                </span>
                <span if.bind="step.config.selector">
                  <span class="text-pink">${step.config.label}</span>
                  &nbsp;view.
                </span>
              </section>
            </li>

            <li
              class="step"
              repeat.for="step of PREDEFINED_REGISTER_STEP_CONFIG[STEP_CONSTANTS.REGISTER]"
              if.bind="stepType === STEP_CONSTANTS.REGISTER"
            >
              <section class="flex" if.bind="step.name === 'wait'">
                Wait for&nbsp;
                <section class="is-relative">
                  <input
                    type="number"
                    step="10"
                    min="1"
                    max="120"
                    class="input-field inline"
                    placeholder="Wait time"
                    value.bind="step.config.durationInSeconds"
                    style="margin-bottom: 0;width: 50px;"
                  />
                </section>
                &nbsp;seconds before continuing.
              </section>

              <section class="flex" if.bind="step.name === 'text'">
                Type&nbsp;
                <span class="text-pink">${step.config.value}</span>
                &nbsp;into the&nbsp;<span class="text-pink">${step.config.label}</span>&nbsp;text field.
              </section>

              <section class="flex" if.bind="step.name === 'Click Element'">
                Click the&nbsp;
                <span class="text-pink">${step.config.targetType}</span>&nbsp;labelled&nbsp;
                <span class="text-pink">${step.config.label}</span>.
              </section>

              <section class="flex" if.bind="step.name === 'Expect Content'">
                I expect to see the&nbsp;
                <span if.bind="step.config.role">
                  <span class="text-pink">${step.config.role}</span>
                  &nbsp;dashboard.
                </span>
                <span if.bind="step.config.selector">
                  <span class="text-pink">${step.config.label}</span>
                  &nbsp;view.
                </span>
              </section>
            </li>
          </ul>
        </section>
      </section>

      
      <section class="flex flex--align-center" if.bind="stepType === STEP_CONSTANTS.CLICK_ELEMENT">
        Click the&nbsp;
        <select
          class="input-field inline"
          value.bind="step.config.targetType"
        >
          <option disabled>Select a type</option>
          <option>button</option>
          <option>element</option>
        </select>
        &nbsp;labelled&nbsp;
        <input
          type="text"
          class="input-field inline"
          placeholder="Enter a label"
          value.bind="step.config.label"
          style="margin: 0;width: 100px;"
        />.
        <section class="flex--basis"></section>
      </section>

      
      <section class="flex flex--align-center" if.bind="stepType === STEP_CONSTANTS.REQUEST">
        <table style="width: 100%;">
          <tr>
            <td>URL: </td>
            <td>
              <div class="flex">
                <input
                  type="text inline"
                  class="input-field"
                  placeholder="Enter a API URL"
                  value.bind="step.config.label"
                  style="margin: 0;width: 100%;"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>Method: </td>
            <td>
              <select
                class="input-field"
                value.bind="step.config.targetType"
                style="width: 100px;"
              >
                <option disabled>Select a method</option>
                <option>GET</option>
                <option>POST</option>
                <option>PUT</option>
                <option>DELETE</option>
              </select>
            </td>
          </tr>
        </table>
      </section>
    </section>

    <section class="footer">
      <button
        class="pink-button"
        click.trigger="close()"
        style="margin-right: 10px;"
      >
        Cancel
      </button>
      <button
        class="blue-button"
        click.trigger="confirm()"
      >
        ${isEditing ? 'Update' : 'Insert'}
      </button>
    </section>
  </section>
</template>
