.directory-list {
  color: #fff;
  font-size: 14px;
  height: 100%;
  width: 100%;
  display: flex;
  max-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;

  .top-level-item {
    margin-bottom: 1rem;
    padding: 10px;
    cursor: pointer;
    
    .item-header {
      display: flex;
      align-items: center;
    }
    
    .item-icon {
      margin-right: 0.5rem;
      height: 22px;
      width: 11px;
    }
    
    .item-title {
      font-weight: bold;
      width: 140px;
      max-width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
    }
  }
  
  .sub-item {
    margin-top: 0.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    cursor: pointer;
    
    .item-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .tests-list {
      margin-top: 0.5rem;
    }
  }
    
  .test-item {
    margin-top: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;

    .test-name {
      padding: 5px 0 5px 10px;
    }

    .test-name {
      &.selected,
      &.is-open,
      &:hover {
        border-top: 1px solid rgba(229, 30, 90, 0.5);
        border-bottom: 1px solid rgba(229, 30, 90, 0.5);
        padding: 4px 0 4px 10px;
        border-radius: 10px;
      }
      
      &.selected {
        background: rgba(229, 30, 90, 0.5);
      }
    }
  }
  
    
  .actions {
    button {
      padding: 6px 12px;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      svg {
        width: 10px;
        height: 10px;
      }

      &.blue {
        background: rgba(0, 0, 0, 0);
        svg {
          fill: #1c86cc;
        }

        &:hover {
          background: #1c86cc;
          svg {
            fill: #ffffff;
          }
        }
      }

      &.pink {
        background: rgba(0, 0, 0, 0);
        svg {
          fill: #e51e5a;
        }

        &:hover {
          background: #e51e5a;
          svg {
            fill: #e51e5a;
          }
        }
      }

      &.full-blue {
        background: #1c86cc;
        svg {
          fill: #fff;
        }
      }

      &.full-pink {
        background: #e51e5a;
        svg {
          fill: #fff;
        }
      }
    }
  }

  nav {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background: #252525;
    border: 1px solid #373737;
    width: 150px;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: default;

    ul {
      list-style-type: none;

      li {
        padding: 5px 10px;
        border-bottom: 1px solid #373737;
        cursor: pointer;

        span {
          font-size: 10px;
          fill: #fff;
          margin-right: 5px;
        }

        &:last-child {
          border-bottom:0px!important;
        }

        &:hover {
          background: #292a2d;
        }
      }
    }
  }
}
