<template
  bindable="
    index,
    step,
    icons,
  "
>
  <section>${index}.&nbsp;&nbsp;</section>
  <section
    if.bind="step.type === 'wait'"
    class="flex--basis text--left flex"
  >
    ${step.name}
  </section>


  <section
    if.bind="step.type === 'text'"
    class="flex--basis text--left flex"
  >
    <div if.bind="step.predefined">
      Enter user &nbsp;<span class="text-pink">${step.config.label}</span>&nbsp;into the text field.
    </div>
    <div if.bind="!step.predefined">
      not predefined
    </div>
  </section>
  
  <section
    if.bind="step.type === 'click'"
    class="flex--basis text--left flex"
  >
    <div if.bind="step.config.value">
      Click button reading &nbsp;<span class="text-pink">${step.config.value}</span>.
    </div>
    <div if.bind="step.config.label">
      Click button with class name &nbsp;<span class="text-pink">${step.config.label}</span>.
    </div>
  </section>
</template>
