<template>

  <section class="editor is-relative">
    <button
      class="pink"
      click.trigger="configureTestToRun()"
      style="
        position: absolute;
        right: 4rem;
        top: 1rem;
        border: 1px solid #e51e5a;
      "
      title="Configure & Run Test"
      if.bind="config.type !== 'partial'"
    >
      <div style="width: 10px;display: inline-block;" innerhtml.bind="icons.gear"></div>
      <div style="width: 10px;display: inline-block;" innerhtml.bind="icons.play"></div>
    </button>
    <button
      class="blue"
      click.trigger="edit()"
      innerhtml.bind="icons.pencil"
      style="
        position: absolute;
        right: 1rem;
        top: 1rem;
        border: 1px solid #1c86cc;
      "
      title="Edit"
    ></button>
    
    <section class="content-panel">
      <div class="flex flex--justify-center">
        <h2 style="
          font-size: 20px;
          margin-top: 20px;
          margin-bottom: 10px;
        ">
          Configured steps for <span class="text-pink">${config.name}</span>
        </h2>
      </div>

      <section class="flex step-config-wrapper">
        <steps
          steps.bind="config.steps"
          test-suite-id.bind="config.testSuiteId"
          test-id.bind="config.testId"

          disable-delete.bind="true"
          disable-reorder.bind="true"
        ></steps>
      </section>
    </section>
  </section>

  <div class="col-right">
    <section if.bind="!configuringTest">
      <h4 class="header text--center">
        Test history
      </h4>

      <div
        if.bind="testResults.length === 0"
        class="no-data-message"
      >
        No test history.
      </div>
      <section
        repeat.for="result of testResults"
        class="test-result ${$index === 0 ? 'first-child' : ''}"
      >
        ${result.startTime}

        <section
          class="ongoing"
          if.bind="result.ongoing"
        >
          Running...
        </section>
        <section
          class="pass-value"
          class.bind="result.testPassed ? 'passed' : 'failed'"
          if.bind="!result.ongoing"
        >
          ${result.testPassed ? 'Passed' : 'Failed'}
          <section
            class="score"
          >
            ${result.passed}/${result.total}
          </section>
          <button
            class="blue"
            click.trigger="viewTestResult(result)"
            innerhtml.bind="icons.magnifyingGlass"
            title="View result"
          ></button>
        </section>
      </section>
    </section>





    <section
      if.bind="configuringTest"
      style="padding: 5px;"
      class="is-relative"
    >
      <button
        class="pink"
        click.trigger="cancelConfigigureTest()"
        innerhtml.bind="icons.close"
        style="
          position: absolute;
          right: 0;
          top: 0;
          border: 1px solid #e51e5a;
        "
        title="Edit"
      ></button>
      
      <h2
        class="text--left"
        style="
          font-size: 20px;
          margin-bottom: 20px;
        "
      >
        Select an&nbsp;
        <span class="text-pink">
          Environment
        </span>
      </h2>

      <section
        class="flex flex--justify-between"
        style="margin-bottom: 20px;"
      >
        <select
          class="input-field inline"
          value.bind="config.environment"
          style="margin-left: 10px;width: 150px;margin: auto;"
        >
          <option repeat.for="env of environments">
            ${env.name}
          </option>
        </select>
      </section>

      <h2
        class="text--center"
        style="
          font-size: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        "
      >
        <span class="text-pink">
          ${userArray.length}
        </span> &nbsp;User sign${userArray.length === 1 ? '' : "'s"} in detected
      </h2>

      <section repeat.for="user of userArray">
        <section
          class="margin-bottom-10 flex flex--justify-center flex--align-center"
          click.trigger="enableUserSelect(user)"
          if.bind="!user.selectEnabled"
          style="
            background: #e51e5a;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            height: 20px;
          "
          style.bind="user.config ? 'padding: 20px;height: 40px;' : 'padding: 30px;'"
        >
          <span if.bind="!user.config">Select ${user.placeholder}</span>
          <div if.bind="user.config" class="flex flex--justify-center flex--align-center">
            <div
              innerhtml.bind="icons.roles[user.config.role]"
              class="svg config-icon"
              style="
                margin-right: 5px;
                fill: #ffffff;
              "
            ></div>
            <section>
              <section class="text-white">${user.config.name}</section>
              <section style="font-size: 14px;">${user.config.role}</section>
            </section>
          </div>
        </section>

        <select-user
          if.bind="user.selectEnabled"
          environment.bind="config.environment"
          user-selected.trigger="userSelected($event.detail, user)"
        ></select-user>
      </section>

      <button
        class="large padded-10 full-pink button svg"
        class.bind="selectedUser ? '' : 'u-faded-content'"
        click.trigger="runTest()"
        style="height: 40px;"
      >
        <span class="icon" style="margin-right: 5px;">&#9654;</span>
        Start test
      </button>
    </section>
  </div>
</template>
