<template>

  <section class="editor is-relative">
    <button
      class="pink"
      click.trigger="configureTestToRun()"
      style="
        position: absolute;
        right: 4rem;
        top: 1rem;
        border: 1px solid #e51e5a;
      "
      title="Configure & Run Test"
      if.bind="config.type !== 'partial'"
    >
      <div style="width: 10px;display: inline-block;" innerhtml.bind="icons.gear"></div>
      <div style="width: 10px;display: inline-block;" innerhtml.bind="icons.play"></div>
    </button>
    <button
      class="blue"
      click.trigger="edit()"
      innerhtml.bind="icons.pencil"
      style="
        position: absolute;
        right: 1rem;
        top: 1rem;
        border: 1px solid #1c86cc;
      "
      title="Edit"
    ></button>
    
    <section class="content-panel">
      <div class="flex flex--justify-center">
        <h2 style="
          font-size: 20px;
          margin-top: 20px;
          margin-bottom: 10px;
        ">
          Configured steps for <span class="text-pink">${config.name}</span>
        </h2>
      </div>

      <section class="flex step-config-wrapper">
        <steps
          steps.bind="config.steps"
          test-suite-id.bind="config.testSuiteId"
          test-id.bind="config.testId"

          disable-delete.bind="true"
          disable-reorder.bind="true"
        ></steps>
      </section>
    </section>
  </section>

  <div class="col-right">
    <section>
      <h4 class="header text--center">
        Test history
      </h4>

      <div
        if.bind="testResults.length === 0"
        class="no-data-message"
      >
        No test history.
      </div>
      <section
        repeat.for="result of testResults"
        class="test-result ${$index === 0 ? 'first-child' : ''}"
      >
        ${result.startTime}

        <section
          class="ongoing"
          if.bind="result.ongoing"
        >
          Running...
        </section>
        <section
          class="pass-value"
          class.bind="result.testPassed ? 'passed' : 'failed'"
          if.bind="!result.ongoing"
        >
          ${result.testPassed ? 'Passed' : 'Failed'}
          <section
            class="score"
          >
            ${result.passed}/${result.total}
          </section>
          <button
            class="blue"
            click.trigger="viewTestResult(result)"
            innerhtml.bind="icons.magnifyingGlass"
            title="View result"
          ></button>
        </section>
      </section>
    </section>
<!--     
    <button
      class="large padded-10 pink button"
      click.trigger="runTest()"
      style="margin-right: 10px;"
    >
      <span class="icon" style="margin-right: 5px;">&#9654;</span> Configure & Run Test
    </button> -->
  </div>
</template>
