
.wizard-step-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: 100%;
  height: 100%;

  .step-content {
    width: 100%;
    height: calc(100% - 40px);
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
    overflow: auto;
  }

  .intro-text {
    color: white;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 35%;
    width: 500px;
    text-align: left;

    h1 {
      font-size: 30px;
      line-height: 36px;
    }
  }

  .instruction {
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 40px;
    padding-left: 10px;
    color: #26a8ff;
  }

  .input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 400px;
  }

  .item-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .browser-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 10px;

    &.selected {
      border: 1px solid #26a8ff;

      .check {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }

    input {
      opacity: 0;
    }
  }

  .browser-logo {
    margin-bottom: 5px;
    transition: transform 0.2s ease-in-out;

    svg {
      width: 64px;
      height: 64px;
    }
  }

  .browser-label:hover .browser-logo {
    transform: scale(1.1);
  }

  .browser-label p {
    margin: 0;
    font-size: 14px;
    text-align: center;
  }

  .info-message {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    color: #88919a;
  
    .info-icon {
      display: inline-block;
      width: 15px;
      min-width: 15px;
      height: 15px;
      font-size: 15px;
      color: white;
      text-align: center;
      border-radius: 50%;
      margin-right: 10px;
      line-height: 18px;
    }
    
    .info-text {
      color: #88919a;
    }
  }
  
}
