.view-test-results {
  height: calc(100% - 53px);
  color: white;
  font-size: 14px;
  flex: 1;
  overflow: hidden;
  background-color: #171717;
  border-top: 1px solid #373737;

  img {
    width: 100%;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  
  h2 {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
  }

  .content {
    height: calc(100% - 35px);

    .result-total {
      display: flex;
      margin-right: 20px;
      border-radius: 3px;

      .label {
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 900;
        background: #373737;
      }

      .value {
        padding: 5px 10px;
        color: white;
        font-weight: 600;
      }

      &.passed {
        border: 1px solid rgb(93, 204, 93);
        .value {
          background: rgb(93, 204, 93);
        }
      }

      &.failed {
        border: 1px solid rgb(207, 102, 102);
        .value {
          background: rgb(207, 102, 102);
        }
      }

      &.blue {
        border: 1px solid rgb(3, 117, 182);
        .value {
          background: rgb(3, 117, 182);
        }
      }

      &.orange {
        border: 1px solid rgb(245, 129, 66);
        .value {
          background: rgb(245, 129, 66);
        }
      }

      &.purple {
        border: 1px solid rgb(138, 53, 218);
        .value {
          background: rgb(138, 53, 218);
        }
      }

      &.pink {
        border: 1px solid rgb(218, 53, 75);
        .value {
          background: rgb(218, 53, 75);
        }
      }
    }

    .test-blocks {
      height: calc(100% - 50px);
    }
  }
}
