.studio {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
  
  .config-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
    background-color: #2b2e35;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .config-button {
    background-color: #26a8ff;
    color: white;
    
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    width: 130px;
    height: 35px;
    text-align: center;
  }
  
  .config-button:hover {
    background-color: #003c91;
  }
  
  .config-dropdown {
    display: flex;
    align-items: center;
    
    label {
      color: white;
      margin-right: 0.5rem;
      font-weight: bold;
    }
    
    select {
      padding: 0.3rem;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }
  
  .content-section {
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: #171717;
    max-height: calc(100% - 50px);
    height: calc(100% - 50px)100%;
  }
  
  .file-explorer {
    width: 260px;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: #1e1e1e;
    border:1px solid #373737;
  }
  
  .content-panel {
    flex: 1;
    overflow-y: auto;
  }
  
  .reports-row {
    padding: 1rem;
    background-color: #1e1e1e;
    text-align: center;
    color: white;
  }

  .panel {
    display: flex;
    flex-direction: column;
    height: 100%!important;
    color: white;
  
    .tab-header {
      display: flex;
      background-color: #252525;
      color: white;
      height: 55px;
    }
  
    .tab {
      font-size: 14px;
      border-top: 1px solid #373737;
      border-bottom: 1px solid #373737;
      border-right: 1px solid #373737;
      padding: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
  
      .tab-title {
        flex: 1;
      }
  
      .tab-close {
        margin-left: 0.5rem;
        cursor: pointer;
        color: #999;
        padding: 2px 5px;
  
        &:hover {
          color: white;
        }
      }

      &.selected {
        background-color: #1e1e1e!important;
        border-top: 3px solid #e51e5a;
        border-left: 1px solid #373737;
        border-right: 1px solid #373737;
        border-bottom: unset;
      }

      &.placeholder {
        flex: 1;
      }
    }
  
    .tab-content {
      flex: 1;
      overflow: auto;
      background-color: #1e1e1e;
      border: 1px solid #373737;
      border-top: none;
      
      .content {
        height:100%;
      }
    }
  }
  
}

