<template>
  <div class="studio">
    <section class="content-section">
      <div
        class="file-explorer"
      >
        <explorer
          if.bind="testSuites"
          test-suites.bind="testSuites"
          test-suite-names.bind="testSuiteNames"
          sub-tests.bind="subTests"

          if.bind="testSuiteNames && subTests"

          create-test-for-suite.trigger="startCreateTestForSuiteFlow($event.detail)"
          select-file.trigger="openTab($event.detail)"
        ></explorer>
      </div>
      <div class="content-panel">
        <div
          class="panel"
        >
          <div
            class="tab-header"
            if.bind="tabs.length > 0"
          >
            <div
              class="tab flex flex--direction-rows flex--direction-cols flex--align-center ${tab.type ? tab.type + '-tab' : 'welcome-tab'}"
              class.bind="tab.selected ? 'selected' : ''"
              repeat.for="tab of tabs"
              click.delegate="selectTab(tab)"
            >
              <span
                innerhtml.bind="tab.type === 'complete' ? icons.circle : (tab.type === 'partial' ? icons.puzzle : icons.openDoor)"
                class="margin-right--10"
                title.bind="tab.type === 'complete' ? 'Test Suite' : (tab.type === 'Sub-Test' ? icons.puzzle : 'Welcome')"
              ></span>
              <span class="tab-title">${tab.name}</span>
              <span
                class="tab-close"
                click.delegate="closeTab($index, $event)"
                if.bind="tab.name !== 'Welcome'"
              >x</span>
            </div>
            <div class="tab placeholder"></div>
          </div>
          <div class="tab-content">
            <div
              repeat.for="tab of tabs"
              class="content"
              show.bind="tab.selected"
            >
              <welcome if.bind="tab.name === 'Welcome'"></welcome>
              <editor
                if.bind="tab.name !== 'Welcome'"
                config.bind="tab"
              ></editor>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="reports-row">
      Reports content
    </section> -->
  </div>
  
</template>
