
:root {
  /*  ---- colors ----  */
  --gray: #3f3f40;
  --light-gray: #919191;
  --blue: #13a89e;
  --red: #a81322;
  --crayon-red: #ee204d;

  /* ---- font sizes ---- */
  --mini: 10px;
  --tiny: 14px;
  --small: 16px;
  --medium: 20px;
  --large: 28px;
}

$full-height: 100vh;

/* Reset some default styles */
body, h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Global Styles */
body {
  height: $full-height;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: #171717;
}

main {
  height: $full-height;
}

.logo {
  font-size: 1.5rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #ccc;
}

header.top-menu {
  background-color: #292a2d;
  color: #fff;
  padding: 1rem;
  position: relative;

  .menu-list {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  .menu-item {
    position: relative;

    a {
      text-decoration: none;
      color: #fff;
      transition: color 0.3s;
      cursor: pointer;

      &:hover {
        color: #ccc;
      }
    }
  }

}

.sub-menu {
  position: absolute;
  top: 35px;
  left: -10px;
  width: 230px;
  background: #292a2d;
  padding: 5px 0;
  z-index: 10;
  border-top:unset!important;
  border: 1px solid #373737;
  border-bottom: 4px solid #e51e5a;
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2);

  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    padding: 8px 10px;

    &:hover {
      background: #373737;
      cursor: pointer;
    }
  }
}

.page {
  background-color: #171717;
  height: calc(100% - 50px);
  color: #ffffff;
}

.page {
  height: calc(100% - 2rem - 1px);
  color: white;
  font-size: 14px;
  flex: 1;
  overflow: hidden;
  background-color: #171717;
  border-top: 1px solid #373737;

  h2 {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
  }

  .content-wrapper {
    height: calc(100% - 112px);
  }

  .left-column {
    height: calc(100% - 40px);
    width: 250px;
    background-color: #1e1e1e;
    border-top: 1px solid #373737;
    border-right: 1px solid #373737;
    padding: 20px;
    overflow-y: auto;

    .col-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }
    h1 {
      font-size: 20px;
      margin: 0 0 20px 0;
      text-align: center;
      color: #ffffff;
    }
  }

  .right-column {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: auto;
  }

  
  .cta {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 240px;
    padding-top: 30px;
    height: 110px;
    margin: 0 5px 10px;
    border: 1px solid #e51e5a;
    color: white;

    .svg {
      margin-right: 10px;
    }

    svg {
      width: 30px;
      height: 30px;
    }

    .name-field {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: #e51e5a;
      padding: 5px 0;
    }
  }
}
