.c-zbutton {
  display: block;
  background-color: rgba(38, 168, 255, 0.1);
  color: #ffffff;
  box-shadow: inset 0 0 0 2px #26a8ff;
  border: none;
  border-radius: 3px;
  padding: 12px;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  max-width: 140px;
  transition: 0.175s ease-in-out;

  &--large {
    max-width: 100%;
    margin: 0 auto;
  }

  &--pink {
    color: #ffffff;
    font-weight: 700;
    background-color: #e51e5a;
    box-shadow: inset 0 0 0 2px #e51e5a;
  }
}

.white-button,
.pink-button,
.blue-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 35px;
  justify-content: center;
}

.pink-button {
  background-color: #e51e5a;
  color: white;
  .icon {
    margin-right: 0.5rem;
  }

  &:hover {
    background: #aa1642;
  }
}

.white-button {
  background-color: #fff;
  color: black;
  .icon {
    margin-right: 0.5rem;
  }

  &:hover {
    background: #ebebeb;
  }
}

.blue-button {
  background-color: #26a8ff;
  color: white;
  .icon {
    margin-right: 0.5rem;
  }

  &:hover {
    background: #1c86cc;
  }
}

input, select {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px 8px 6px 8px;
  border-bottom: 2px solid white;
  // background: #002640;
  background: white;

  &.error {
    border-bottom: 2px solid #e51e5a!important;
  }
}

.centered {
  margin: auto;
}

.flex {
  display: flex;

  &--reverse {
    &-row {
      flex-direction: row-reverse;
    }
  }

  &--justify {
    &-center {
      justify-content: center;
    }
    &-around {
      justify-content: space-around;
    }
    &-between {
      justify-content: space-between;
    }
    &-evenly {
      justify-content: space-evenly;
    }
  }

  &--position {
    &-center-h {
      align-content: center;
    }
    &-start-v {
      align-self: start;
    }
    &-center-v {
      align-self: center;
    }
    &-end-v {
      align-self: flex-end;
    }
    &-start-h {
      justify-content: flex-start;
    }
    &-end-h {
      justify-content: flex-end;
    }
  }

  &--direction {
    &-cols {
      flex-direction: column;
    }
    &-rows {
      flex-direction: row;
      &_force {
        flex-direction: row!important;
      }
    }
  }

  &--grow {
    &-0 {
      flex-grow: 0;
    }
    &-1 {
      flex-grow: 1;
    }
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--fill {
    flex-grow: 1;
  }
  &--align {
    &-start {
      align-items: flex-start;
    }
    &-end {
      align-items: flex-end;
    }
    &-center {
      align-items: center;
    }
    &-self {
      &-stretch {
        align-self: stretch;
      }
    }
  }

  &--basis-1-1 {
    flex: 1 1 0px;
  }

  &--basis {
    flex: 1;
  }
}


/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
 .dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ffffff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ffffff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 10004px 0 0 -5px;
  }
  30% {
    box-shadow: 10004px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10004px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

a {
  color: #26a8ff;
  text-decoration: none;
}

.text {
  &--center {
    text-align: center;
  }

  &-pink {
    color: #e51e5a;
  }
  &-blue {
    color: #26a8ff;
  }

  &--dimmed {
    color: #b6b6b6;
  }

  &--left {
    text-align: left;
  }
}

.border {
  &-pink {
    border-color: #e51e5a!important;
  }
}

.background {
  &-red {
    background-color: red!important;
  }
}

.hoverable {
  cursor: pointer;
}

.is {
  &-relative {
    position: relative;
  }
}


.button {
  padding: 5px 10px;
  border: 1px solid #252525;
  background: #373737;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #4b4b4b;
  }
  
  &.large {
    width: 100%;
    margin: 0 auto;
  }

  &.padded-10 {
    padding: 10px;
  }

  &.blue {
    color: #ffffff;
    font-weight: 700;
    background-color: #26a8ff;
    box-shadow: inset 0 0 0 2px #26a8ff;
    
    &:hover {
      background: #1c86cc;
      box-shadow: inset 0 0 0 2px #1c86cc;
    }
  }

  &.pink {
    color: #ffffff;
    font-weight: 700;
    background-color: #e51e5a;
    box-shadow: inset 0 0 0 2px #e51e5a;
    
    &:hover {
      background: #aa1642;
      box-shadow: inset 0 0 0 2px #aa1642;
    }
  }
}

.u-faded-content {
  opacity: 0.3;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  pointer-events: none;
  cursor: default!important;
  &:hover {
    opacity: 0.3;
    -webkit-filter: none;
  }
}


.js-validation-item {
  position: absolute;
  top: 110%;
  padding-left:0;
  color: #ffa800;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.no-data-message {
  text-align: center;
  color: #858585;
  padding: 10px;
}

svg, .browser-logo, .svg {
  &.pink {
    path {
      fill: #e51e5a;
    }
  }
  &.blue {
    path {
      fill: #26a8ff;
    }
  }
  &.grey {
    path {
      fill: #88919a;
    }
  }
  &.white {
    path {
      fill: #ffffff;
    }
  }
  
  &.large {
    svg {
      width: 100px!important;
      height: 100px!important;
    }
  }
}

::-webkit-scrollbar {
  width: 3px!important;
  height: 3px!important;
}
::-webkit-scrollbar-thumb {
  background-color: #083c61 !important;
  border-radius: 4px !important;
  transition: 1s ease-in-out;
}
::-webkit-scrollbar-track {
  background-color: #03273f !important;
}
:hover {
  &::-webkit-scrollbar-thumb {
    background-color: #2d90d7 !important;
  }
}

.header {
  button {
    position: absolute;
    right: 10px;

    margin-left: 10px;
    padding: 6px 12px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    svg {
      width: 10px;
      height: 10px;
    }

    &.blue:hover {
      svg {
        fill: #1c86cc;
      }
    }

    &.pink:hover {
      svg {
        fill: #e51e5a;
      }
    }

    &.full-blue {
      background: #1c86cc;
      svg {
        fill: #fff;
      }
    }

    &.full-pink {
      background: #e51e5a;
      svg {
        fill: #fff;
      }
    }
  }
}

.input-field {
  &.inline {
    padding: 2px 3px 0;
  }
}






.panel {
  display: flex;
  flex-direction: column;
  height: 100%!important;
  color: white;

  .tab-header {
    display: flex;
    background-color: #252525;
    color: white;
    height: 55px;
  }

  .tab {
    font-size: 14px;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #373737;
    border-right: 1px solid #373737;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    .tab-title {
      flex: 1;
    }

    .tab-close {
      margin-left: 0.5rem;
      cursor: pointer;
      color: #999;
      padding: 2px 5px;

      &:hover {
        color: white;
      }
    }

    &.selected {
      background-color: #1e1e1e!important;
      border-top: 3px solid #e51e5a;
      border-left: 1px solid #373737;
      border-right: 1px solid #373737;
      border-bottom: unset;
    }

    &.placeholder {
      flex: 1;
    }
  }

  .tab-content {
    flex: 1;
    overflow: auto;
    background-color: #1e1e1e;
    border: 1px solid #373737;
    border-top: none;
    
    .content {
      height:100%;
    }
  }
}

.margin {
  &-right {
    &--10{
      margin-right: 10px;
    }
  }
  &--bottom {
    &-50 {
      margin-bottom: 50px;
    }
  }
}
