/*------------------------------------*\
  #THEME SETTINGS
\*------------------------------------*/

:root {
  /*  ---- colors ----  */
  --gray: #3f3f40;
  --light-gray: #919191;
  --blue: #13a89e;
  --red: #a81322;
  --crayon-red: #ee204d;

  /* ---- font sizes ---- */
  --mini: 10px;
  --tiny: 14px;
  --small: 16px;
  --medium: 20px;
  --large: 28px;
}

/*------------------------------------*\
  #THEME COLOUR CLASSES
\*------------------------------------*/

// .white-text {
//   color: #ffffff!important;
// }
// .gray-text {
//   color: var(--gray)!important;
// }

// .blue-text {
//   color: var(--blue);
// }

// .red-text {
//   color: var(--red);
// }

// .gray {
//   background: var(--gray)!important;
//   color: white;
// }

// .blue {
//   background: var(--blue)!important;
//   color: white;
// }

// .red {
//   background: var(--red)!important;
//   color: white;
// }

// .crayon-red {
//   background: var(--crayon-red)!important;
//   color: white;
// }

// .opac-0 {
//   background: rgba(0, 0, 0, 0)!important;
// }

// .red {
//   background: var(--red)!important;
//   color: white;
// }

/*------------------------------------*\
  #THEME FONTS
\*------------------------------------*/

// @font-face {
//   font-family: 'Calibri Light';
//   font-style: normal;
//   font-weight: normal;
//   src: local('Calibri Light'), url('../fonts/calibril.woff') format('woff');
// }

// html, body, div, a, button, li, input {
//   font-family: 'Calibri light', 'Roboto'!important;
// }

/*------------------------------------*\
  #THEME FONT CLASSES
\*------------------------------------*/


.mini-font {
  font-size: var(--mini);
}

.tiny-font {
  font-size: var(--tiny);
}

.small-font {
  font-size: var(--small);
}

.medium-font {
  font-size: var(--medium);
}

.large-font {
  font-size: var(--large);
}

.thick-font {
  font-weight: 600;
}
