<template>
  <section class="page">
    <h2>Configured <span class="text-pink">Users</span></h2>
    
    <section class="flex content-wrapper">
      <section class="left-column">
        <h1>Select an environment</h1>
        <section class="col-content">
          <button
            class="button cta"
            class.bind="environment.selected ? 'full-pink' : 'pink'"
            click.trigger="selectEnvironment(environment)"
            repeat.for="environment of environments"
            style="padding: 6px 12px;"
          >
            <div
              innerhtml.bind="icons.server"
              class="white svg config-icon"
            ></div>
            ${environment.name}
          </button>
          <section style="width: 118px;"></section>
        </section>
      </section>
      
      <section class="right-column">
        <div
          if.bind="organisations.length === 0"
          class="no-data-message"
          style="text-align: left;"
        >
          No organisations have been set up.
        </div>
        <section
          repeat.for="organisation of organisations"
          class="margin-bottom-20"
        >
          <h2
            class="text-pink flex flex--align-center"
            style="
              text-align: left;
              margin: 5px 15px;
            "
          >
            ${organisation.name}
          </h2>

          <section class="flex">
            <section
              if.bind="!organisation.users || organisation.users.length === 0"
              class="flex--basis button cta"
              style="padding-top: 5px;height: 217px;cursor: default;"
            >
              Organisation has no users.
            </section>
            <section
              if.bind="organisation.users.length > 0"
              class="flex flex--wrap flex--justify-left flex--basis"
              style="padding: 0 5px;"
            >
              <button
                class="button cta"
                click.trigger="deleteUser(user)"
                repeat.for="user of organisation.users"
                style="background: rgba(0, 0, 0, 0);"
                style.bind="user.isHovering ? 'padding-top: 0px;' : ''"
                mouseenter.trigger="hoverUser(user)"
                mouseleave.trigger="hoverOffUser(user)"
              >
                <div if.bind="!user.isHovering" class="flex">
                  <section class="name-field">${user.name}</section>
                  <div
                    innerhtml.bind="icons.roles[user.role]"
                    class="white svg config-icon"
                  ></div>
                  
                  <section style="text-align: left;">
                    <section style="font-size: 16px;">${user.role}</section>
                    <section style="font-size: 12px;">${user.email}</section>
                    <section style="font-size: 12px;">${user.password}</section>
                  </section>
                </div>
            
                <div if.bind="user.isHovering" class="flex flex--align-center flex--justify-center">
                  <div innerhtml.bind="icons.close" class="margin-right--10 svg white"></div> Delete
                </div>
              </button>
            </section>
            
            <section
              style="padding: 0 10px;"
              class="flex flex--direction-cols"
            >
              <button
                class="blue button cta margin-bottom-10"
                click.trigger="addUser(organisation)"
                style="padding: 10px;width: 80px;height: 110px; border-color: #1c86cc;"
                title="Add user"
                if.bind="dataStore.user"
              >
                <div
                  innerhtml.bind="icons.plus"
                  class="white svg config-icon"
                  style="margin-right: 0;"
                ></div>
                <div
                  innerhtml.bind="icons.user"
                  class="white svg config-icon"
                  style="margin-right: 0;"
                ></div>
              </button>
              
              <button
                class="pink button cta"
                class.bind="environment.selected ? 'pink' : 'pink-border'"
                click.trigger="deleteOrganisation(organisation)"
                style="padding: 10px;width: 80px;height: 110px;"
                title="Add user"
                if.bind="dataStore.user"
              >
                <div
                  innerhtml.bind="icons.close"
                  class="white svg config-icon"
                  style="margin-right: 0;"
                ></div>
              </button>
            </section>
          </section>
        </section>
        
        <button
          class="pink button cta"
          click.trigger="addOrganisation()"
          style="padding: 10px;min-height: 80px; margin: 30px 10px 10px;"
          title="Add organisation"
          if.bind="dataStore.user && environments.length > 0"
        >
          <div
            innerhtml.bind="icons.plus"
            class="white svg config-icon"
            style="margin-right: 0;"
          ></div>
          <div
            innerhtml.bind="icons.organisation"
            class="white svg config-icon"
            style="margin-right: 0;"
          ></div>
        </button>
      </section>
    </section>
  </section>
</template>
